@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Source Sans 3", sans-serif !important;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.selected {
    color: #04406F;
    border-bottom: 2px solid #04406F;
}

/*------------------- Mobile Menu -------------------*/
#mobile_menu {
    position: fixed;
    top: 0;
    left: -1000px;
    transition: 0.3s ease-in-out;
}

.show_menu {
    left: 0 !important;
}