@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Source Sans 3", sans-serif !important;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.selected {
    color: #04406F;
    border-bottom: 2px solid #04406F;
}

/*------------------- Mobile Menu -------------------*/
#mobile_menu {
    position: fixed;
    top: 0;
    left: -1000px;
    transition: 0.3s ease-in-out;
}

.show_menu {
    left: 0 !important;
}

/*------ Button triangle Design --------*/
.trapezoid {
    border-top: 49.5px solid #2DC55F;
    border-right: 65px solid transparent;
    height: 100%;
}

.triangle {
    aspect-ratio: 1;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: linear-gradient(45deg, #2DC55F, #2DC55F);
}

/*------- Services section design ---------*/
.triangle-service {
    aspect-ratio: 1;
    border-bottom-right-radius: 2px;
    clip-path: polygon(100% -216%, 0% 100%, 100% 100%);
}

/*---------- Why us section design --------*/
.triangle-whyus {
    aspect-ratio: 1;
    border-bottom-right-radius: 2px;
    clip-path: polygon(-100% -1200%, 0% 229%, 124% -70%);
}

/*--------------- Slider design ------------*/
.swiper {
    /*overflow: visible !important;*/
}

/*---------- Media Query ---------*/
@media only screen and (max-width: 992px) {
    #about-section {
        background: none !important;
    }
}

/*---------- Loading Spinner ---------*/
.loader {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background: var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%
    }
    50% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%
    }
    66% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%
    }
}
